.navbar-brand >img {
    height: 90%;
    width: auto;
    margin: auto;
    position: absolute;
    top:50%;
    bottom: 50%;
}


.navbar-brand {
    height: 100px;
}
.cenland_logo {
    width: 44px;
    height: 48px;
}

.login-container .page-container .login-form, .login-container .page-container .registration-form {
    background: #ffffff00;
    border-radius: 5px;
    border: none;
    left: 800px;
}

.display-block, label.display-block {
    color: #746f6f;
}
.text-muted {
}
.login{
    width: 40% !important;
    margin:0 auto;
}