    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            @Html.Partial("~/views/index-body-sidebar.cshtml")
            @Html.Partial("~/views/index-body-content.cshtml")
        </div>
    </div>