
<link href="~/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/images/." rel="stylesheet" type="text/css" />

<link href="https://cdn.jsdelivr.net/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet" />

@*  <link href="~/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
        <link href="https://cdn.jsdelivr.net/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet" />
        <link href="~/assets/css/images/ui-icons_222222_256x240.png" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/images/ui-icons_454545_256x240.png" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/images/ui-icons_888888_256x240.png" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/images/ui-icons_cd0a0a_256x240.png" rel="stylesheet" type="text/css" />*@

<div class="row">
    <div class="panel panel-flat">

        <div class="panel-body">
            <br />
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>

            <div id="dialog" title="edit view" style="overflow: hidden;"></div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/i18n/grid.locale-en.js"></script>
    <script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/jquery.jqGrid.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
    @*
        <script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/i18n/grid.locale-en.js"></script>
        <script type="text/javascript" src="~/assets/js/core/libraries/jquery.jqGrid.js"></script>
        <script type="text/javascript" src="~/assets/js/core/libraries/jquery-ui-1.10.0.js"></script>
        <script type="text/javascript" src="~/assets/js/core/libraries/jquery.unobtrusive-ajax.js"></script>

    *@


    <script type="text/javascript">

        $(document).ready(function () {
            var myGrid = $('#jqGrid');
            myGrid.jqGrid({
                url: '/EVNImportExcelPL/GetProducts/',
                datatype: "json",
                contentType: "application/json; charset-utf-8",
                mtype: 'GET',
                colNames: ['MA_DVIQLY', 'TEN_CTRINH', 'THANG_BC', 'NAM_BC',
                        'SL_XA', 'SL_TCBD', 'DZ_HTHE', 'SO_HOTN', 'GTCL_VVNSNN', 'GTCL_VV',
                        'GTCL_VDTHTX', 'GTCL_VDAN', 'GTCL_VKHAC', 'CPHI_TNCT', 'Action'],
                colModel: [
                    { name: 'MA_DVIQLY', key: true, width: 75 },
                    { name: 'TEN_CTRINH', key: true, width: 75 },
                    { name: 'THANG_BC', key: true, width: 75 },
                    { name: 'NAM_BC', key: true, width: 200 },
                    { name: 'SL_XA', key: true, width: 50 },
                    { name: 'SL_TCBD', key: true, width: 50 },
                    { name: 'DZ_HTHE', key: true, width: 50 },
                    { name: 'SO_HOTN', key: true, width: 50 },
                    { name: 'GTCL_VVNSNN', key: true, width: 50 },
                    { name: 'GTCL_VV', key: true, width: 50 },
                    { name: 'GTCL_VDTHTX', key: true, width: 50 },
                    { name: 'GTCL_VDAN', key: true, width: 50 },
                    { name: 'GTCL_VKHAC', key: true, width: 50 },
                    { name: 'CPHI_TNCT', key: true, width: 50 },
                    { name: 'Edit', key: true, width: 100, editable: true, formatter: editButton }
                ],
                rowNum: 4,
                pager: '#jqGridPager',
                gridview: true,
                rownumbers: true,
                pagerpos: 'center'
            });


             $('#dialog').dialog({
                autoOpen: false,
                width: 400,
                resizable: false,
                title: 'Edit Product details',
                modal: true,
                open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    $(this).load("@Url.Action("GetProductById")", { id: id });
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

         function editButton(cellvalue, options, rowObject) {
                return "<a data-value='" + rowObject.MA_DVIQLY + "' href='javascript:void(0)' class='btnEdit'>Edit</a>";
        }

        var id = 0;
        $(document).on('click', '.btnEdit', function () {
            id = $(this).attr("data-value");
            $('#dialog').dialog('open');
        });

    </script>
}



