
<link href="~/assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/ui.jqgrid.css" rel="stylesheet" />

<div class="row">
    <div class="panel panel-flat">

        <div class="panel-body" style="overflow:scroll">
            <br />
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
            <br />
            <button type="submit" id="btnSubmit" class="btn btn-default">Submit</button>
            <div id="dialog" title="edit view" style="overflow: hidden;"></div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.jqGrid.min.js"></script>
    <script src="~/assets/js/core/libraries/jquery-ui.min.js"></script>

    <script type="text/javascript">

        var lastsel2 = null;
        var myGrid = $('#jqGrid');
        myGrid.jqGrid({
            url: '/EVNImportExcelPL/GetDataRows/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'GET',
            colNames: ['MA_DVIQLY', 'TEN_CTRINH', 'THANG_BC', 'NAM_BC',
                    'SL_XA', 'SL_TCBD', 'DZ_HTHE', 'SO_HOTN', 'GTCL_VVNSNN', 'GTCL_VV',
                    'GTCL_VDTHTX', 'GTCL_VDAN', 'GTCL_VKHAC', 'CPHI_TNCT'],
            colModel: [
                { name: 'MA_DVIQLY', key: true, width: 75 },
                { name: 'TEN_CTRINH', key: true, width: 100 },
                { name: 'THANG_BC', key: true, width: 75, editable: true, edittype:"select", editoptions:{value:"1:1;2:2;3:3;4:4;5:5;6:6;7:7;8:8;9:9;10:10;11:11;12:12"} },
                { name: 'NAM_BC', key: true, width: 50 , editable: true, edittype:"text"},
                { name: 'SL_XA', key: true, width: 75, editable: true },
                { name: 'SL_TCBD', key: true, width: 75, editable: true},
                { name: 'DZ_HTHE', key: true, width: 75, editable: true },
                { name: 'SO_HOTN', key: true, width: 75, editable: true },
                { name: 'GTCL_VVNSNN', key: true, width: 75, editable: true },
                { name: 'GTCL_VV', key: true, width: 75, editable: true },
                { name: 'GTCL_VDTHTX', key: true, width: 75, editable: true },
                { name: 'GTCL_VDAN', key: true, width: 75, editable: true },
                { name: 'GTCL_VKHAC', key: true, width: 75, editable: true },
                { name: 'CPHI_TNCT', key: true, width: 75, editable: true }
            ],
            onSelectRow: function(id){
                if (id && id !== lastsel2) {
                    if(lastsel2) $("#jqGrid").saveRow(lastsel2, true, 'clientArray');
                    lastsel2 = id;
                }
                $('#jqGrid').editRow(id, false);
            },
            rowNum: 20,
            pager: '#jqGridPager',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });

        $("#btnSubmit").click(function () {
            console.log("Hello World");
            $("#jqGrid").saveRow(lastsel2, true, 'clientArray');
            var gridData = $('#jqGrid').jqGrid('getRowData');
            console.log(gridData);
        })

    </script>
}



